<!doctype html>
<html>
  <head>
    <title>Adoption</title>
    <link rel="stylesheet" href="/static/currency.css">
  </head>
  <body>
    <h1>Add</h1>
    
    <form id='add' method = 'POST'>
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field}}

                {% for error in field.errors %}
                {{error}}
                {% endfor %}
            </p>
            {% endfor %}
            <button type='submit'>Submit</button>
        </form>

        <form action='/'>
            <button type='submit'> Cancel</button>
        </form>
  </body>
</html>